.modal {
  /* display: none; */
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  overflow: auto;
  background-color: #f1e2e2;
  border-radius: 48px;
  padding: 50px 35px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin: 0;
  padding: 0;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.modal-header {
  text-align: center;
}

.modal-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0 !important;
}

.close-button {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.close-button:hover {
  color: #ff0000;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-body .rendevu-detail {
  position: relative;
  padding: 15px 10px;
  border: 1px solid #000000;
  border-radius: 15px;
}

.modal-body .rendevu-detail .rendevu-detail-label {
  position: absolute;
  top: -10px;
  left: 15px;
  background-color: #f1e2e2;
  padding: 0 10px;
}

.modal-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer button {
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal-footer .modal-close-button {
  background-color: #ff0000;
  color: #ffffff;
}
.modal-footer .modal-close-button:hover {
  background-color: #ff0000cb;
}

.modal-footer .modal-confirm-button {
  background-color: #14c404;
  color: #ffffff;
}
.modal-footer .modal-confirm-button:hover {
  background-color: transparent;
  color: #14c404;
  outline: solid 1px #14c404;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 40vw;
  }
}
